body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #333;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* header */

.header {
    align-items: center;
    background-color: rgb(33, 33, 33);
}

.header .collapse {
    display: flex;
    justify-content: center;
}

.header .logo {
    color: yellow;
}

.header .logo:hover {
    text-decoration: none;
}

.header .collapse button {
    background-color: yellow;
    color: black;
}

.header .collapse button:hover {
    background-color: black;
    color: yellow;
}

.header .collapse a {
    color: yellow;
}

.header .collapse a:hover {
    font-size: medium;
}


/* menu */

.content .menu {
    position: sticky;
    top: 0;
}

.content .menu .item {
    display: flex;
    align-items: center;
}

.content .menu .item ion-icon {
    width: 50%;
    font-size: 30px;
    color: yellow;
}

.content .menu .item .btn {
    --color: yellow;
    --color2: rgb(10, 25, 30);
    padding: 0.5em 0.9em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 200;
    color: yellow;
}

.content .menu .item .btn::after,
.content .menu .item .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.content .menu .item .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.content .menu .item .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.content .menu .item .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.content .menu .item .btn:hover {
    color: var(--color2);
}

.content .menu .item .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}

.content .menu .add .dropdown-menu a {
    color: black;
}

.content .menu .add .dropdown-menu a:hover {
    background-color: yellow;
}

.content .menu .item a {
    padding: auto;
    color: yellow;
}

.content .menu .item a:hover {
    font-size: 18px;
}

.content .menu img {
    width: 10%;
    max-width: 100vh;
    background-size: cover;
}

.content .dialog {
    display: none;
    /* mặc định được ẩn đi */
    position: fixed;
    /* vị trí cố định */
    z-index: 1;
    /* Ưu tiên hiển thị trên cùng */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-modal {
    display: none;
    /* mặc định được ẩn đi */
    position: fixed;
    /* vị trí cố định */
    z-index: 1;
    /* Ưu tiên hiển thị trên cùng */
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-modal .form {
    font-family: Verdana, sans-serif;
    width: 50%;
    margin: auto;
    min-height: fit-content;
    border: solid 1px yellow;
    border-radius: 50px;
    background-color: #333;
    display: block;
    padding-bottom: 45px;
}

.dialog-modal .form div {
    display: flex;
    justify-content: center;
}

.dialog-modal .form h2 {
    margin: 45px 0 0 40px;
    color: yellow;
}

.dialog-modal .form .current-folder,
.dialog-modal .form .toast-delete {
    color: yellow;
    font-size: 15px;
    font-weight: bold;
}
/* 
.dialog-modal .form .toast-delete {
    color: yellow;
    font-size: 20px;
    font-weight: bold;
} */

.dialog-modal .form input {
    width: 70%;
    height: 40px;
    line-height: 50px;
    margin: 15px 0 20px;
}

.dialog-modal .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.dialog-modal .close:hover,
.dialog-modal .close:focus {
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}

.dialog-modal #createDialog {
    width: 50%;
    color: red;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-self: center;
}

.dialog-modal #renameDialog {
    width: 50%;
    color: red;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-self: center;
}

.dialog-modal #have-link, 
.dialog-modal #restricted {
    display: none;
    margin: 10px 0 20px;
}

.dialog-modal .access-title {
    font-size: 15px;
    font-weight: bold;
    margin-right: 470px;
    color: yellow;
}

.dialog-modal select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 1px solid yellow;
    border-radius: 5px;
    background-size: 16px;
}

.dialog-modal select:focus {
    outline: none;
    border-color: yellow;
}

.dialog-modal .access-change {
    margin-left: 45px;
}

.dialog-modal .restricted ion-icon,
.dialog-modal .have-link ion-icon {
    color: yellow;
    display: inline-block;
}

.dialog-modal button {
    width: 25%;
    color: black;
    background-color: yellow;
    height: 40px;
    border-radius: 20px;
    transition: .5s ease-out;
    box-shadow: 0px 0px 30px 1px #c1cf4a;
}

.dialog-modal button:hover {
    width: 30%;
    color: yellow;
    background-color: black;
    height: 50px;
    border-radius: 20px;
}

/* display */

.content .display {
    text-align: center;
    padding: 20px 0 20px 30px;
    background-color: #333;
    border-left: solid white;
}

.display .card {
    position: relative;
    width: 215px;
    height: 254px;
    background-image: linear-gradient(163deg, yellow 0%, rgb(180, 180, 96) 100%);
    border-radius: 20px;
    margin-bottom: 10%;
}

.display .card-body {
    width: 220px;
    height: 260px;
    background-color: #333;
    border-radius: 20px;
    transition: all .2s;
}

.display .card-body:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px #c1cf4a;
}

.display .card .card-body img {
    width: 100%;
    max-width: 100vh;
}

.display .card .card-body p {
    opacity: 0;
    transition: all 0.5s;
}

.display .card .card-body .file-name {
    margin: auto;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.display .card .card-body .btn-group ion-icon {
    font-size: 20px;
    padding: 0 5px;
    cursor: pointer;
    color: yellow;
}

.display .card:hover p {
    opacity: 1;
}


/* footer */

.footer {
    background: rgb(33, 33, 33);
}

.footer p {
    color: yellow;
}